/**
 * Functions for getting components of owf theme structures
 */
/*==========  Slide In Left  ==========*/
@-webkit-keyframes dashboardSlideInLeft {
  /* line 7, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -webkit-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 12, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -webkit-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 17, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -webkit-transform: translateX(0) scale(0.9);
  }

  /* line 21, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -webkit-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@-moz-keyframes dashboardSlideInLeft {
  /* line 28, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -moz-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 33, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -moz-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 38, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -moz-transform: translateX(0) scale(0.9);
  }

  /* line 42, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -moz-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@-ms-keyframes dashboardSlideInLeft {
  /* line 49, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -ms-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 54, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -ms-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 59, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -ms-transform: translateX(0) scale(0.9);
  }

  /* line 63, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -ms-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@-o-keyframes dashboardSlideInLeft {
  /* line 70, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -o-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 75, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -o-transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 80, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -o-transform: translateX(0) scale(0.9);
  }

  /* line 84, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -o-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@keyframes dashboardSlideInLeft {
  /* line 90, ../../common/stylesheets/_cssanimations.scss */
  0% {
    transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 95, ../../common/stylesheets/_cssanimations.scss */
  20% {
    transform: translateX(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 100, ../../common/stylesheets/_cssanimations.scss */
  80% {
    transform: translateX(0) scale(0.9);
  }

  /* line 104, ../../common/stylesheets/_cssanimations.scss */
  100% {
    transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

/* line 110, ../../common/stylesheets/_cssanimations.scss */
.dashboardSlideInLeft {
  -webkit-animation-name: dashboardSlideInLeft;
  -moz-animation-name: dashboardSlideInLeft;
  -o-animation-name: dashboardSlideInLeft;
  animation-name: dashboardSlideInLeft;
}

/*==========  Slide In Down  ==========*/
@-webkit-keyframes dashboardSlideInDown {
  /* line 121, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -webkit-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 126, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -webkit-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 131, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -webkit-transform: translateY(0) scale(0.9);
  }

  /* line 135, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -webkit-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@-moz-keyframes dashboardSlideInDown {
  /* line 142, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -moz-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 147, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -moz-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 152, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -moz-transform: translateY(0) scale(0.9);
  }

  /* line 156, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -moz-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@-ms-keyframes dashboardSlideInDown {
  /* line 163, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -ms-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 168, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -ms-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 173, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -ms-transform: translateY(0) scale(0.9);
  }

  /* line 177, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -ms-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@-o-keyframes dashboardSlideInDown {
  /* line 184, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -o-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 189, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -o-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 194, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -o-transform: translateY(0) scale(0.9);
  }

  /* line 198, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -o-transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

@keyframes dashboardSlideInDown {
  /* line 205, ../../common/stylesheets/_cssanimations.scss */
  0% {
    transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 210, ../../common/stylesheets/_cssanimations.scss */
  20% {
    transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 215, ../../common/stylesheets/_cssanimations.scss */
  80% {
    transform: translateY(0) scale(0.9);
  }

  /* line 219, ../../common/stylesheets/_cssanimations.scss */
  100% {
    transform: scale(1);
    box-shadow: 1px 1px 24px 1px white;
  }
}

/* line 225, ../../common/stylesheets/_cssanimations.scss */
.dashboardSlideInDown {
  -webkit-animation-name: dashboardSlideInDown;
  -moz-animation-name: dashboardSlideInDown;
  -o-animation-name: dashboardSlideInDown;
  animation-name: dashboardSlideInDown;
}

/*==========  Slide In Up  ==========*/
@-webkit-keyframes dashboardSlideInUp {
  /* line 236, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -webkit-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 241, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -webkit-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 246, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -webkit-transform: translateY(0%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 251, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes dashboardSlideInUp {
  /* line 257, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -moz-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 262, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -moz-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 267, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -moz-transform: translateY(0%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 272, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes dashboardSlideInUp {
  /* line 278, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -ms-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 283, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -ms-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 288, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -ms-transform: translateY(0%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 293, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes dashboardSlideInUp {
  /* line 299, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -o-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 304, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -o-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 309, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -o-transform: translateY(0%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 314, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -o-transform: scale(1);
  }
}

@keyframes dashboardSlideInUp {
  /* line 320, ../../common/stylesheets/_cssanimations.scss */
  0% {
    transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 325, ../../common/stylesheets/_cssanimations.scss */
  20% {
    transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 330, ../../common/stylesheets/_cssanimations.scss */
  80% {
    transform: translateY(0%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 335, ../../common/stylesheets/_cssanimations.scss */
  100% {
    transform: scale(1);
  }
}

/* line 340, ../../common/stylesheets/_cssanimations.scss */
.dashboardSlideInUp {
  -webkit-animation-name: dashboardSlideInUp;
  -moz-animation-name: dashboardSlideInUp;
  -o-animation-name: dashboardSlideInUp;
  animation-name: dashboardSlideInUp;
}

/*==========  Slide Out Down  ==========*/
@-webkit-keyframes dashboardSlideOutDown {
  /* line 351, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -webkit-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 356, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -webkit-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 361, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -webkit-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 366, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -webkit-transform: translateY(100%);
  }
}

@-moz-keyframes dashboardSlideOutDown {
  /* line 372, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -moz-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 377, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -moz-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 382, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -moz-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 387, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -moz-transform: translateY(100%);
  }
}

@-ms-keyframes dashboardSlideOutDown {
  /* line 393, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -ms-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 398, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -ms-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 403, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -ms-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 408, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -ms-transform: translateY(100%);
  }
}

@-o-keyframes dashboardSlideOutDown {
  /* line 414, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -o-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 419, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -o-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 424, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -o-transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 429, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -o-transform: translateY(100%);
  }
}

@keyframes dashboardSlideOutDown {
  /* line 435, ../../common/stylesheets/_cssanimations.scss */
  0% {
    transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 440, ../../common/stylesheets/_cssanimations.scss */
  20% {
    transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 445, ../../common/stylesheets/_cssanimations.scss */
  80% {
    transform: translateY(100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 450, ../../common/stylesheets/_cssanimations.scss */
  100% {
    transform: translateY(100%);
  }
}

/* line 455, ../../common/stylesheets/_cssanimations.scss */
.dashboardSlideOutDown {
  -webkit-animation-name: dashboardSlideOutDown;
  -moz-animation-name: dashboardSlideOutDown;
  -o-animation-name: dashboardSlideOutDown;
  animation-name: dashboardSlideOutDown;
}

/*==========  Slide Out to Left  ==========*/
@-webkit-keyframes dashboardSlideOutLeft {
  /* line 465, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -webkit-transform: translateX(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 470, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -webkit-transform: translateX(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 475, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -webkit-transform: translateX(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 480, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes dashboardSlideOutLeft {
  /* line 486, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -moz-transform: translateX(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 491, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -moz-transform: translateX(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 496, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -moz-transform: translateX(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 501, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-ms-keyframes dashboardSlideOutLeft {
  /* line 507, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -ms-transform: translateX(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 512, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -ms-transform: translateX(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 517, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -ms-transform: translateX(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 522, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -ms-transform: translateX(-100%);
  }
}

@-o-keyframes dashboardSlideOutLeft {
  /* line 528, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -o-transform: translateX(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 533, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -o-transform: translateX(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 538, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -o-transform: translateX(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 543, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -o-transform: translateX(-100%);
  }
}

@keyframes dashboardSlideOutLeft {
  /* line 549, ../../common/stylesheets/_cssanimations.scss */
  0% {
    transform: translateX(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 554, ../../common/stylesheets/_cssanimations.scss */
  20% {
    transform: translateX(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 559, ../../common/stylesheets/_cssanimations.scss */
  80% {
    transform: translateX(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 564, ../../common/stylesheets/_cssanimations.scss */
  100% {
    transform: translateX(-100%);
  }
}

/* line 568, ../../common/stylesheets/_cssanimations.scss */
.dashboardSlideOutLeft {
  -webkit-animation-name: dashboardSlideOutLeft;
  -moz-animation-name: dashboardSlideOutLeft;
  -o-animation-name: dashboardSlideOutLeft;
  animation-name: dashboardSlideOutLeft;
}

/*==========  Slide Out Up  ==========*/
@-webkit-keyframes dashboardSlideOutUp {
  /* line 578, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -webkit-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 583, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -webkit-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 588, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -webkit-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 593, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes dashboardSlideOutUp {
  /* line 599, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -moz-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 604, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -moz-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 609, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -moz-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 614, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-ms-keyframes dashboardSlideOutUp {
  /* line 620, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -ms-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 625, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -ms-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 630, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -ms-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 635, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -ms-transform: translateY(-100%);
  }
}

@-o-keyframes dashboardSlideOutUp {
  /* line 641, ../../common/stylesheets/_cssanimations.scss */
  0% {
    -o-transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 646, ../../common/stylesheets/_cssanimations.scss */
  20% {
    -o-transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 651, ../../common/stylesheets/_cssanimations.scss */
  80% {
    -o-transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 656, ../../common/stylesheets/_cssanimations.scss */
  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes dashboardSlideOutUp {
  /* line 662, ../../common/stylesheets/_cssanimations.scss */
  0% {
    transform: translateY(0);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 667, ../../common/stylesheets/_cssanimations.scss */
  20% {
    transform: translateY(0) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 672, ../../common/stylesheets/_cssanimations.scss */
  80% {
    transform: translateY(-100%) scale(0.9);
    box-shadow: 1px 1px 24px 1px white;
  }

  /* line 677, ../../common/stylesheets/_cssanimations.scss */
  100% {
    transform: translateY(-100%);
  }
}

/* line 681, ../../common/stylesheets/_cssanimations.scss */
.dashboardSlideOutUp {
  -webkit-animation-name: dashboardSlideOutUp;
  -moz-animation-name: dashboardSlideOutUp;
  -o-animation-name: dashboardSlideOutUp;
  animation-name: dashboardSlideOutUp;
}

/* line 689, ../../common/stylesheets/_cssanimations.scss */
.animated {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 700, ../../common/stylesheets/_cssanimations.scss */
.cssanimations #dashboardCardPanel-body {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 705, ../../common/stylesheets/_cssanimations.scss */
.cssanimations #dashboardCardPanel .dashboard {
@extends .animated;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
/* line 708, ../../common/stylesheets/_cssanimations.scss */
.cssanimations #dashboardCardPanel .dashboard.inactive {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 720, ../../common/stylesheets/_cssanimations.scss */
.cssanimations #dashboardCardPanel .dashboard.animate {
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
}
