/**
 * Functions for getting components of owf theme structures
 */
/*
 * This file contains the default values on a variety of parameters that may be overridden by a given theme
 */
/*
 * The color that will be used to generate many major parts of
 * the theme, such as the borders of active widgets and buttons
 */
/*
 * The color that will be used to generate more minor parts of the
 * theme, such as inactive windows, depressed buttons, and grid-view rows
 */
/*
 * The font family of most of the interface
 */
/*
 * The font size.  This should be specified in pixels or another absolute unit.
 * Because of the way that Ext-js uses this value, relative sizes will be compounded
 * on nested elements, which is almost definetly not what you want
 */
/*
 * Input text field field height
 */
/*
 * Styles for selectable items, such as Widgets in Launch Menu and Themes in Theme Switcher window
 */
/*
 * Border colors of tabs in the tab layout
 */
/*
 * The text color of the labels in the mange, customize, and create dashboards windows
 */
/*
 * Setting this to false will disable the use of gradients in most cases.
 * Single colors will be used instead
 */
/*
 * The border radius applied to the top corners, and bottom corners, 
 * respectively, of windows and things
 */
/*
 * The base color for buttons. Defaults to being derived from the owf-base color, but
 * can be overriden to be anything
 */
/*
 * Buttons themes are 3-element lists.  This theme is applied to buttons that are not pressed
 * or hovered over
 */
/*
 * Theme for buttons that are currently being hovered over
 */
/*
 * Theme for buttons that are depressed
 */
/*
 * Theme for buttons that are disabled
 */
/*
 * Theme for buttons that are focused
 */
/*
 * The theme applied to the header and borders of active, inactive and ghost widget/windows.
 */
/*
 * The theme applied to the header and border of inactive widgets. 
 * This is based on the alt base color by default
 */
/*
 * The theme applied to window ghosts that are rendered when dragging
 */
/* line 12, ../sass/applicationConfiguration.scss */
.editable_cell {
  cursor: hand;
  cursor: pointer;
  min-width: 300px;
  width: 300px;
  min-height: 35px;
  font-size: 12px;
  color: #bfbfbf;
  padding-top: 1px;
  padding-left: 4px;
  border: 1px solid transparent;
}
/* line 26, ../sass/applicationConfiguration.scss */
.editable_cell:hover {
  border-color: #bfbfbf;
}

/* line 35, ../sass/applicationConfiguration.scss */
.editable_cell_image {
  cursor: hand;
  cursor: pointer;
  min-width: 25px;
  max-width: 200px;
  min-height: 25px;
  max-height: 50px;
  padding-right: 5px;
}

/* line 45, ../sass/applicationConfiguration.scss */
.non_editable_cell {
  min-width: 250px;
  min-height: 30px;
  font-size: 12px;
  color: #7d7d7d;
}

/* line 52, ../sass/applicationConfiguration.scss */
.spinner {
  background: url('../../common/images/spinner.gif') no-repeat transparent;
  height: 25px;
  width: 25px;
  padding: 0.5em;
  display: none;
}

/* line 60, ../sass/applicationConfiguration.scss */
.app_config_list_view_panel {
  padding-left: 30px;
  border-left: 1px solid #bfbfbf;
  float: right;
  width: 80%;
  background-color: transparent;
  position: relative;
  box-shadow: 0 0 0 15px transparent;
  height: auto !important;
  min-height: 424px;
}
/* line 71, ../sass/applicationConfiguration.scss */
.app_config_list_view_panel #app-config-add-store-container {
  float: right;
  width: 54%;
  padding-top: 10px;
}
/* line 76, ../sass/applicationConfiguration.scss */
.app_config_list_view_panel #app-config-add-store-container #app-config-add-store {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #070c16;
  color: #b8d413;
  background-color: #1f3256;
  padding: 5px 20px;
}
/* line 86, ../sass/applicationConfiguration.scss */
.app_config_list_view_panel #app-config-add-store-container #app-config-add-store:hover, .app_config_list_view_panel #app-config-add-store-container #app-config-add-store.hover {
  color: #0d182c;
  background-color: #d3e471;
}

/* line 94, ../sass/applicationConfiguration.scss */
div.app_config_column_container {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

/* line 100, ../sass/applicationConfiguration.scss */
div.app_config_section {
  font-size: 14px;
  padding-bottom: 4px;
  padding-top: 9px;
  color: #77a7ef;
}

/* line 108, ../sass/applicationConfiguration.scss */
div.app_config_column_left {
  float: left;
  width: 46%;
}

/* line 113, ../sass/applicationConfiguration.scss */
div.app_config_column_right {
  float: left;
  min-width: 50%;
  max-width: 50%;
  padding-left: 20px;
}

/* line 121, ../sass/applicationConfiguration.scss */
div.app_config_map_row {
  padding-bottom: 6px;
  min-width: inherit;
}

/* line 127, ../sass/applicationConfiguration.scss */
.app_config_item_title {
  color: #f2f2f2;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 12px;
}

/* line 133, ../sass/applicationConfiguration.scss */
.app_config_item_description {
  color: #a7a8ab;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 11px;
  display: inline-block;
  margin-right: 10px;
  padding-botto: 3px;
  padding-top: 5px;
  vertical-align: top;
  width: 340px;
}

/* line 145, ../sass/applicationConfiguration.scss */
.app_config_text_area {
  min-width: 300px;
  width: 300px;
  min-height: 125px;
  max-height: 200px;
  border: 1px solid #bfbfbf;
  background-color: #4d4d4d;
  padding-left: 3px;
  display: none;
  color: #bfbfbf;
}

/* line 157, ../sass/applicationConfiguration.scss */
.app_config_text_hover {
  width: 300px;
  height: 35px;
  border: 1px solid #bfbfbf;
}

/* line 164, ../sass/applicationConfiguration.scss */
.app_config_field_error {
  font-size: 10px;
  color: red;
}

/* line 169, ../sass/applicationConfiguration.scss */
.app_config_free_text_warning {
  font-size: 10px;
  color: red;
}

/* line 178, ../sass/applicationConfiguration.scss */
.app_config_radio_button_label {
  font-size: 12px;
  display: inline-block;
  line-height: 24px;
}

/* line 184, ../sass/applicationConfiguration.scss */
.app_config_radio_button {
  margin-right: 4px;
}

/* line 188, ../sass/applicationConfiguration.scss */
.app_config_help_text {
  font-style: italic;
  color: #a7a8ab;
}

/* line 194, ../sass/applicationConfiguration.scss */
.app_config_pageLink {
  padding-top: 14px;
}

/* line 198, ../sass/applicationConfiguration.scss */
.app-config-store-view {
  color: #bfbfbf;
  min-height: 32px;
  padding-bottom: 10px;
  float: right;
  width: 54%;
}
/* line 205, ../sass/applicationConfiguration.scss */
.app-config-store-view .icon {
  float: left;
  width: 64px;
  height: 64px;
}
/* line 211, ../sass/applicationConfiguration.scss */
.app-config-store-view .name {
  margin-top: 1.5em;
  display: inline-block;
  width: 12em;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 228, ../sass/applicationConfiguration.scss */
.app-config-store-view .edit, .app-config-store-view .delete {
  display: inline-block;
  visibility: hidden;
  width: 16px;
  height: 16px;
  position: relative;
  top: 0.3em;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
/* line 244, ../sass/applicationConfiguration.scss */
.app-config-store-view:hover .edit, .app-config-store-view:hover .delete, .app-config-store-view.hover .edit, .app-config-store-view.hover .delete {
  visibility: visible;
}
/* line 249, ../sass/applicationConfiguration.scss */
.app-config-store-view .edit {
  margin-left: 4em;
  background-image: url('../../common/images/applicationConfiguration/stores/Edit-out.png');
}
/* line 253, ../sass/applicationConfiguration.scss */
.app-config-store-view .edit:hover, .app-config-store-view .edit.hover {
  background-image: url('../../common/images/applicationConfiguration/stores/Edit-over.png');
}
/* line 258, ../sass/applicationConfiguration.scss */
.app-config-store-view .delete {
  margin-left: 1em;
  background-image: url('../../common/images/applicationConfiguration/stores/Delete-out.png');
}
/* line 262, ../sass/applicationConfiguration.scss */
.app-config-store-view .delete:hover, .app-config-store-view .delete.hover {
  background-image: url('../../common/images/applicationConfiguration/stores/Delete-over.png');
}

/* line 270, ../sass/applicationConfiguration.scss */
.app_config_menu {
  float: left;
  width: 16%;
  padding-top: 2px;
}
/* line 275, ../sass/applicationConfiguration.scss */
.app_config_menu .item {
  background-repeat: no-repeat;
  font-size: 16px;
  color: #a7a8ab;
  cursor: hand;
  cursor: pointer;
  padding-left: 45px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-position: left;
}
/* line 286, ../sass/applicationConfiguration.scss */
.app_config_menu .item > a {
  padding-bottom: 15px;
}

/* line 292, ../sass/applicationConfiguration.scss */
body.configuration_widget {
  width: 1000px;
  margin: auto auto auto 2%;
  background-color: #0f1a2e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 303, ../sass/applicationConfiguration.scss */
body.configuration_widget a {
  text-decoration: none;
  color: #77a7ef;
  cursor: pointer;
}
/* line 310, ../sass/applicationConfiguration.scss */
body.configuration_widget a:hover {
  color: #adcfff;
}
/* line 314, ../sass/applicationConfiguration.scss */
body.configuration_widget .auditing {
  background-image: url('../../common/images/applicationConfiguration/Auditing_Inactive.png');
}
/* line 316, ../sass/applicationConfiguration.scss */
body.configuration_widget .auditing:hover {
  background-image: url('../../common/images/applicationConfiguration/Auditing_Hover.png');
}
/* line 320, ../sass/applicationConfiguration.scss */
body.configuration_widget .auditing.active {
  background-image: url('../../common/images/applicationConfiguration/Auditing_Active.png');
}
/* line 325, ../sass/applicationConfiguration.scss */
body.configuration_widget .user_account_settings {
  background-image: url('../../common/images/applicationConfiguration/UserAccountSettings_Inactive.png');
}
/* line 327, ../sass/applicationConfiguration.scss */
body.configuration_widget .user_account_settings:hover {
  background-image: url('../../common/images/applicationConfiguration/UserAccountSettings_Hover.png');
}
/* line 331, ../sass/applicationConfiguration.scss */
body.configuration_widget .user_account_settings.active {
  background-image: url('../../common/images/applicationConfiguration/UserAccountSettings_Active.png');
}
/* line 336, ../sass/applicationConfiguration.scss */
body.configuration_widget .branding {
  background-image: url('../../common/images/applicationConfiguration/Branding_Inactive.png');
}
/* line 338, ../sass/applicationConfiguration.scss */
body.configuration_widget .branding:hover {
  background-image: url('../../common/images/applicationConfiguration/Branding_Hover.png');
}
/* line 342, ../sass/applicationConfiguration.scss */
body.configuration_widget .branding.active {
  background-image: url('../../common/images/applicationConfiguration/Branding_Active.png');
}
/* line 347, ../sass/applicationConfiguration.scss */
body.configuration_widget .store {
  background-image: url('../../common/images/applicationConfiguration/Store_Inactive.png');
}
/* line 349, ../sass/applicationConfiguration.scss */
body.configuration_widget .store:hover {
  background-image: url('../../common/images/applicationConfiguration/Store_Hover.png');
}
/* line 353, ../sass/applicationConfiguration.scss */
body.configuration_widget .store.active {
  background-image: url('../../common/images/applicationConfiguration/Store_Active.png');
}
/* line 358, ../sass/applicationConfiguration.scss */
body.configuration_widget .notifications {
  margin-left: 0;
  position: relative;
}
/* line 362, ../sass/applicationConfiguration.scss */
body.configuration_widget .notifications .icon-bell {
  position: absolute;
  left: 0px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  top: 9px;
  color: #77a7ef;
}
/* line 373, ../sass/applicationConfiguration.scss */
body.configuration_widget .notifications:hover .icon-bell, body.configuration_widget .notifications.active .icon-bell {
  color: #adcfff;
}
